:root{
    font-size: 1vw;
}

.container-fluid{
    margin-top: 2vh;
}

.chat-box{
    height: 88vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card:hover{
    background-color: #d4d4d4;
}

.chat-link .chat-link:hover{
    text-decoration: none;
    /* background: none; */
    background-color: transparent;
    color: inherit;
}

.a .a:hover{
    background: none;
    color: black;
}

.top-bar{
    /* background-color: #d4d4d4; */
    background-color: #eeeeee;
    margin-left: 0.05%;
}

.profile-picture{
    width: 6vh;
    height: 6vh;
    /* margin-left: 1vw; */
}

.whatsapp-heading{
    color:#25D366;
    text-align: right;
    margin-top: 1vh;
    margin-left: 6vw;
    margin-bottom: 1.5vh;
    font-size: 1.4rem;
}

.chat-image{
    width: 6vh;
    height: 6vh;
    margin-left: 1vw;
}