:root{
    font-size: 1vw;
}

.container-fluid{
    margin-top: 2vh;
}

.main-background{
    background-image: url(./images/wallpaper.png);
}

.chat-box{
    height: 88vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card:hover{
    background-color: #d4d4d4;
}

.chat-link .chat-link:hover{
    text-decoration: none;
    /* background: none; */
    background-color: transparent;
    color: inherit;
}

/* .individual-chat{
} */

.a .a:hover{
    background: none;
    color: black;
}

.top-bar{
    /* background-color: #d4d4d4; */
    background-color: #eeeeee;
    margin-left: 0.05%;
}

.profile-picture{
    width: 6vh;
    height: 6vh;
    /* margin-left: 1vw; */
}

.profile-picture-expanded{
    width: 30vh;
    height: 30vh;
}

.whatsapp-heading{
    color:#25D366;
    text-align: right;
    margin-top: 1vh;
    margin-left: 6vw;
    margin-bottom: 1.5vh;
    font-size: 1.4rem;
}

.chat-image{
    width: 6vh;
    height: 6vh;
    margin-left: 1vw;
}

.last-chat-time{
    text-align: right;
}

/* For Phones and Tablets*/
@media screen and (max-width: 1024px){
    .whatsapp-heading{
        font-size: 4rem;
    }

    .profile-picture{
        margin-top: 0.25vh;
        margin-bottom: 0.25vh;
    }

    .chat-image{
        margin-top: 0.3vh;
        margin-bottom: 0.3vh;
    }

    .card-title{
        font-size: 3.5rem;
    }

    .card-subtitle{
        font-size: 3rem;
    }

    .last-chat-time{
        font-size: 3rem;
    }

    .modal-title{
        font-size: 4rem;
    }

    .modal-dialog{
        max-width: 70%;
        margin-left: 15%; 
    }

    .close{
        color: red;
        font-size: 5rem;
    }
}

/* Some minor modification for tablets */
@media screen and (min-width: 577px) and (max-width: 1024px){
    .whatsapp-heading{
        font-size: 3.4rem;
    }

    .last-chat-time{
        font-size: 2.4rem;
    }

    .modal-title{
        font-size: 3.4rem;
    }
    .close{
        color:red;
        font-size: 5rem;
    }
}